<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyu.api.mapper.UserTaskMapper">
  <resultMap id="BaseResultMap" type="com.suyu.api.domain.UserTask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="monday" jdbcType="DOUBLE" property="monday" />
    <result column="tuesday" jdbcType="DOUBLE" property="tuesday" />
    <result column="wednesday" jdbcType="DOUBLE" property="wednesday" />
    <result column="toursday" jdbcType="DOUBLE" property="toursday" />
    <result column="friday" jdbcType="DOUBLE" property="friday" />
    <result column="saturday" jdbcType="DOUBLE" property="saturday" />
    <result column="sonday" jdbcType="DOUBLE" property="sonday" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, monday, tuesday, wednesday, toursday, friday, saturday, sonday
  </sql>
  <select id="selectByExample" parameterType="com.suyu.api.domain.UserTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.suyu.api.domain.UserTaskExample">
    delete from user_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suyu.api.domain.UserTask">
    insert into user_task (id, user_id, monday, 
      tuesday, wednesday, toursday, 
      friday, saturday, sonday
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{monday,jdbcType=DOUBLE}, 
      #{tuesday,jdbcType=DOUBLE}, #{wednesday,jdbcType=DOUBLE}, #{toursday,jdbcType=DOUBLE}, 
      #{friday,jdbcType=DOUBLE}, #{saturday,jdbcType=DOUBLE}, #{sonday,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suyu.api.domain.UserTask">
    insert into user_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="monday != null">
        monday,
      </if>
      <if test="tuesday != null">
        tuesday,
      </if>
      <if test="wednesday != null">
        wednesday,
      </if>
      <if test="toursday != null">
        toursday,
      </if>
      <if test="friday != null">
        friday,
      </if>
      <if test="saturday != null">
        saturday,
      </if>
      <if test="sonday != null">
        sonday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="monday != null">
        #{monday,jdbcType=DOUBLE},
      </if>
      <if test="tuesday != null">
        #{tuesday,jdbcType=DOUBLE},
      </if>
      <if test="wednesday != null">
        #{wednesday,jdbcType=DOUBLE},
      </if>
      <if test="toursday != null">
        #{toursday,jdbcType=DOUBLE},
      </if>
      <if test="friday != null">
        #{friday,jdbcType=DOUBLE},
      </if>
      <if test="saturday != null">
        #{saturday,jdbcType=DOUBLE},
      </if>
      <if test="sonday != null">
        #{sonday,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suyu.api.domain.UserTaskExample" resultType="java.lang.Long">
    select count(*) from user_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.monday != null">
        monday = #{record.monday,jdbcType=DOUBLE},
      </if>
      <if test="record.tuesday != null">
        tuesday = #{record.tuesday,jdbcType=DOUBLE},
      </if>
      <if test="record.wednesday != null">
        wednesday = #{record.wednesday,jdbcType=DOUBLE},
      </if>
      <if test="record.toursday != null">
        toursday = #{record.toursday,jdbcType=DOUBLE},
      </if>
      <if test="record.friday != null">
        friday = #{record.friday,jdbcType=DOUBLE},
      </if>
      <if test="record.saturday != null">
        saturday = #{record.saturday,jdbcType=DOUBLE},
      </if>
      <if test="record.sonday != null">
        sonday = #{record.sonday,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_task
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      monday = #{record.monday,jdbcType=DOUBLE},
      tuesday = #{record.tuesday,jdbcType=DOUBLE},
      wednesday = #{record.wednesday,jdbcType=DOUBLE},
      toursday = #{record.toursday,jdbcType=DOUBLE},
      friday = #{record.friday,jdbcType=DOUBLE},
      saturday = #{record.saturday,jdbcType=DOUBLE},
      sonday = #{record.sonday,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suyu.api.domain.UserTask">
    update user_task
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="monday != null">
        monday = #{monday,jdbcType=DOUBLE},
      </if>
      <if test="tuesday != null">
        tuesday = #{tuesday,jdbcType=DOUBLE},
      </if>
      <if test="wednesday != null">
        wednesday = #{wednesday,jdbcType=DOUBLE},
      </if>
      <if test="toursday != null">
        toursday = #{toursday,jdbcType=DOUBLE},
      </if>
      <if test="friday != null">
        friday = #{friday,jdbcType=DOUBLE},
      </if>
      <if test="saturday != null">
        saturday = #{saturday,jdbcType=DOUBLE},
      </if>
      <if test="sonday != null">
        sonday = #{sonday,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suyu.api.domain.UserTask">
    update user_task
    set user_id = #{userId,jdbcType=INTEGER},
      monday = #{monday,jdbcType=DOUBLE},
      tuesday = #{tuesday,jdbcType=DOUBLE},
      wednesday = #{wednesday,jdbcType=DOUBLE},
      toursday = #{toursday,jdbcType=DOUBLE},
      friday = #{friday,jdbcType=DOUBLE},
      saturday = #{saturday,jdbcType=DOUBLE},
      sonday = #{sonday,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>